{
	email shameempk@pm.me
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

linkding.{$MY_DOMAIN} {
	reverse_proxy linkding:9090
	#header Strict-Transport-Security max-age=31536000;
}

nextcloud.{$MY_DOMAIN} {
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301
	#rewrite /.well-known/carddav /remote.php/dav
	#rewrite /.well-known/caldav /remote.php/dav
	reverse_proxy nextcloud:80
	header Strict-Transport-Security max-age=15552000;
}
